<div id="image-press-title">
    <img id="image-press-kit" src="/images/webp/press-kit-back.webp" />
</div>
<img id="image-logo" src="/images/webp/logo0014.webp" />

<img id="playlist" src="/images/svg/playlist.svg" />
<div id="content">
    <h1>GENNEX<span class="press-spacer"></span>-<span class="press-spacer"></span>Press<span class="press-spacer"></span>Kit</h1>

    <div class="press-section">
        <div class="press-section-header">
            <img src="/images/svg/meeting.svg" />
            <h2>Über Uns</h2>
        </div>
        <div class="press-section-content">
            <div class="press-separator-lines">
                <p>
                    Wir sind eine Liveband aus Leidenschaft mit dem Ziel, aus Feiern echte Erlebnisse zu machen.
                </p>
                <p>
                    Ob Hochzeit, Firmenfeier oder Event: Für uns geht es nicht nur darum, Songs zu spielen. Es geht um
                    Stimmung, Energie und die Momente, an die man sich später erinnert.
                </p>
            </div>
        </div>
    </div>

    <div class="press-section">
        <div class="press-section-header">
            <img src="/images/svg/camera.svg" />
            <h2>Trailer</h2>
        </div>
        <div class="press-section-content">
            <div class="press-separator-lines">
                <iframe src="https://www.youtube.com/embed/2ymlXQg-dqQ?rel=0"></iframe>
            </div>
        </div>
    </div>

    <div class="press-section">
        <div class="press-section-header">
            <img src="/images/svg/music.svg" />
            <h2>Setlist</h2>
        </div>
        <div class="press-section-content">
            <div class="press-separator-lines">
                <iframe height="400px" src="https://open.spotify.com/embed/playlist/71x2ljelhSn6WkvAoaZSLU?utm_source=oembed"></iframe>
            </div>
        </div>
    </div>

    <div class="press-section">
        <div class="press-section-header">
            <img src="/images/svg/receipt.svg" />
            <h2>Referenzen</h2>
        </div>
        <div class="press-section-content">
            <div class="press-separator-lines">
                <span class="reference-title">Altstadtfest Mühldorf</span>
                <span>Seit 2019</span>

                <span class="reference-title">Nacht der Musik Mühldorf</span>
                <span>Seit 2021</span>

                <span class="reference-title">Silo1 Töging</span>
                <span>& Malerwerkstatt</span>

                <span class="reference-title">Geburtstage, Hochzeiten und Feiern</span>
                <span>20+</span>
            </div>
        </div>
    </div>

    <div class="press-section">
        <div class="press-section-header">
            <img src="/images/svg/following.svg" />
            <h2>Social Media</h2>
        </div>
        <div class="press-section-content">
            <div class="press-separator-lines">
                <iframe height="500px" class="instagram-media instagram-media-rendered" id="instagram-embed-0"
                    src="https://www.instagram.com/gennex_official/embed/?cr=1&v=14&wp=1605&rp=%2Fapi%2Fiframe%3Fapp%3D1%26url%3Dhttps%253A%252F%252Fwww.instagram.com%252Fgennex_official%252F%26key%3D656ac74fac4fff346b811dca7919d483#%7B%22ci%22%3A0%2C%22os%22%3A1559%7D"
                    allowtransparency="true" allowfullscreen="true" frameborder="0"></iframe>
            </div>
        </div>
    </div>

    <div class="press-section">
        <div class="press-section-header">
            <img src="/images/svg/info-alternate.svg" />
            <h2>Kontakt Info</h2>
        </div>
        <div class="press-section-content">
            <div class="press-separator-lines">
                <ul>
                    <li>Email:<span class="press-spacer"></span>contact@gennex.band</li>
                    <li>Phone:<span class="press-spacer"></span>+49 1516 8410486</li>
                </ul>
            </div>
        </div>
    </div>
</div>