<div id="bodyScroll" (scroll)="handleScroll($event)">
	<script src="/scripts/scrollAnim.js"></script>
	<div id="page1">
		<div id="bannerImage">
			<app-dynamic-background-image [triggers]="this.backgroundTriggers"></app-dynamic-background-image>
			<div #backgroundTrigger class="background-trigger" img="/images/back_live1.jpg"></div>
		</div>
		<div id="bannerText">
			<h1 id="bandname">GENNEX</h1>
			<nav id="bannerNav">
				<ul>
					<a href="#about-us">
						<li>About us</li>
					</a>
					<a href="#live">
						<li>Videos</li>
					</a>
					<a href="#gallery">
						<li>Gallery</li>
					</a>
					<a href="#gigs">
						<li>Nächste Events</li>
					</a>
					<a href="#contact">
						<li>Contact</li>
					</a>
					<a href="#channels">
						<li>Unsere Kanäle</li>
					</a>
				</ul>
			</nav>
		</div>
		<div class="spacer"></div>
		<div #backgroundTrigger class="background-trigger" img="/images/back_live2.jpg"></div>

		<app-scroll-item-fade-container [textList]="this.aboutUsTexts"></app-scroll-item-fade-container>

		<div class="spacer"></div>

		<app-video-list id="live"></app-video-list>

		<div class="spacer"></div>
		<div #backgroundTrigger class="background-trigger" img="/images/logo_room0014.png"></div>
		<app-gallery id="gallery">
			<div class="overlayGradient"></div>
		</app-gallery>

		<div class="spacer"></div>
		<app-calendar-list id="gigs"></app-calendar-list>

		<div class="halfSpacer"></div>
		<div #backgroundTrigger class="background-trigger" img="/images/crowd.jpeg"></div>
		<div class="halfSpacer"></div>

		<app-contact id="contact"></app-contact>
		<div class="halfSpacer"></div>
		<app-contact-channels id="channels"></app-contact-channels>
		<div class="halfSpacer"></div>

	</div>

	@if (this.loadingOverlay.loadingOverlayVisible()) {
	<app-loadingoverlay [videoURL]="this.loadingOverlay.getVideoURL()" [message]="this.loadingOverlay.getMessage()"
		[hasInputText]="this.loadingOverlay.hasInputText" [inputPlaceholder]="this.loadingOverlay.inputPlaceholder"
		[maxInputLength]="this.loadingOverlay.inputMaxLength"
		(inputTextChange)="this.loadingOverlay.inputTextChange($event)"
		[inputMarkedErronous]="this.loadingOverlay.inputInvalid"
		[videoShouldRepeat]="this.loadingOverlay.videoShouldRepeat" [buttons]="this.loadingOverlay.buttons"
		(buttonClicked)="this.loadingOverlay.buttonClicked($event)"></app-loadingoverlay>
	}

	<footer>
		<ul>
			<li (click)="this.doShowImpressum=true">Impressum</li>
			<li (click)="this.doShowPrivacyPolicy=true">Datenschutzerklärung</li>
		</ul>
	</footer>

	@if(this.doShowPrivacyPolicy) {
	<div class="overlay">
		<app-slot title="Datenschutzerklärung" [defaultScroll]="true" [hasCloseButton]="true"
			(closeEvent)="this.doShowPrivacyPolicy=false">
			<app-privacypolicy></app-privacypolicy>
		</app-slot>
	</div>
	}
	@if(this.doShowImpressum) {
	<div class="overlay">
		<app-slot title="Impressum" [defaultScroll]="true" [hasCloseButton]="true"
			(closeEvent)="this.doShowImpressum=false">
			<app-impressum></app-impressum>
		</app-slot>
	</div>
	}

	<router-outlet></router-outlet>
</div>