<app-slot [oneLineText]="this.oneLineText" imgUrl="/images/retro_microphone0001.png" title="Kontakt">
    <form #slot id="slot" method="POST" action="/contact">
        <div id="name">
            <input name="firstname" type="text" placeholder="Vorname" />
            <input name="surname" type="text" placeholder="Nachname" />
        </div>

        <input name="email" type="text" placeholder="E-Mail" />
        <textarea name="message" placeholder="Deine Nachricht..." rows="6"></textarea>

        <!-- <div class="h-captcha" data-sitekey="951c3b36-6e44-4c64-abce-866c48a27300"></div> -->
        <app-hcaptcha></app-hcaptcha>
        <!--
        token = request.POST["h-captcha-response"]
        params = {
        "secret": "your_secret_key stored in bitwarden hCaptchaSecret",
        "response": token
        }
        json = http.POST("https://hcaptcha.com/siteverify", params)
        -->

        <button type="submit">Nachricht abschicken</button>
    </form>
</app-slot>