* {
    font-family: 'inter', sans-serif;
}

#banner {
    height: max(100lvh, 600px);
    position: relative;
}

#logo-image {
    width: 250px;
    height: auto;
    filter: drop-shadow(0px 0px 40px var(--primaryLightAlphaAA));
}

#logo-cont {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    gap: 40px;
    margin-top: 20px;
}

#logo-cont-text {
    text-align: center;
}

#logo-cont-text span {
    text-transform: uppercase;
    color: var(--layer3);
    font-weight: 700;
    font-size: 16pt;
    letter-spacing: 4px;
    line-height: 20pt;
    padding: 0px 10px;
}

.star {
    color: var(--primaryLight) !important;
}


.section {
    overflow: hidden;
    position: relative;
    padding: 100px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-left,
.section-left-wide {
    overflow: hidden;
    position: relative;
    padding: 100px 30px 100px 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.section-left-content1 {
    width: 25%;
    max-width: 25%;
    left: 0;
    position: relative;
}

.section-left-wide .section-left-content1 {
    width: 60%;
    max-width: 60%;
}

.section-left-content1 .section-text-subtitle {
    padding: 0;
}

.section-left-content2 {
    flex: 2;
}


#about-us {
    background-color: var(--alternateSectionColoring);
}

#contact {
    background: linear-gradient(180deg, var(--alternateSectionColoring4) 0%, var(--primaryLightAlpha1A) 100%);
    padding-bottom: 0 !important;
}

.section-header,
.section-header-compact,
.section-header-big {
    text-align: center;
    font-size: 35pt;
    font-weight: 1000;
    letter-spacing: 2px;
    color: white;
    text-transform: uppercase;
    margin: 10px 0px;
    padding: 0px 20px;
}
.section-header-compact {
    width: min-content;
    line-height: 38pt;
}
.section-header-big {
    font-size: 50pt;
}

.section-header-highlight {
    color: var(--primaryLight);
}

.section-header-highlight2 {
    color: transparent;
    background: linear-gradient(90deg, var(--primary1) 0%, var(--primary2) 100%);
    background-clip: text;
}


.section-text,
.section-text-subtitle {
    max-width: max(50vw, 500px);
    color: var(--layer3);
    font-size: 16pt;
    text-align: center;
    line-height: 25pt;
    font-weight: 300;
    padding: 30px 30px 50px 30px;
    letter-spacing: 1px;
}

.section-text-subtitle {
    font-size: 13pt;
    padding: 0px 30px 20px 30px;
}

.cursive-subtitle {
    font-style: italic;
    font-size: 13pt;
    color: var(--layer2);
    font-weight: 100;
    letter-spacing: 0px;
}

.iframe-wrapper {
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid var(--layer1);
    aspect-ratio: 16/9;
    width: max(50vw, 700px);
    box-shadow: 0px 25px 50px 12px var(--primary1_22);
}

#expandable-members {
    max-height: calc((300px + 20px) * 5);
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}
#member-cont {
    padding: 80px 0px 0px 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.member {
    width: 200px;
    height: 300px;
    border: 1px solid var(--layer1);
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    transform: translateY(0px);
    box-shadow: 0px 0px 5px black;
    transition: transform .3s linear, border-color .3s linear, box-shadow .3s linear;
    overflow: hidden;
    cursor: pointer;
}

.member img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 0;
    filter: brightness(0.6);
    transition: filter .3s linear;
}

.member h3 {
    color: white;
    font-weight: 700;
    text-shadow: 0px 0px 5px black;
    margin: 0;
    padding-left: 15px;
    padding-bottom: 10px;
    z-index: 1;
    filter: drop-shadow(0px 0px 0px black);
    transition: filter .3s linear;
}

.member h4 {
    color: var(--primaryLight);
    font-weight: 700;
    text-shadow: 0px 0px 5px black;
    margin: 0;
    padding-left: 15px;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-size: 10pt;
    letter-spacing: 1px;
    z-index: 1;
    filter: drop-shadow(0px 0px 0px black);
    transition: filter .3s linear;
}

.member:hover {
    transform: translateY(-20px);
    border-color: var(--primaryLightAlphaAA);
    box-shadow: 0px 0px 10px var(--primaryLightAlpha55);
}

.member:hover h3,
.member:hover h4 {
    filter: drop-shadow(0px 0px 12px black) !important;
}

.member:hover img {
    filter: brightness(1.0);
}

#live-action {
    background: linear-gradient(180deg, black 0%, black 70%, #111 100%);
}

#next-events {
    background-color: var(--alternateSectionColoring2);
}

.big-circle-prim1,
.big-circle-prim2 {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 400px;
    height: 400px;
    border-radius: 100%;
    filter: blur(100px);
    pointer-events: none;
}

.big-circle-prim1 {
    background-color: var(--primaryLightAlpha11);
}
.big-circle-prim2 {
    background-color: var(--primary2_22);
    right: unset !important;
    left: 0;
}

.event {
    width: max(50vw, 500px);
    border-radius: 20px;
    border: 1px solid var(--layer0);
    padding: 30px;
    background-color: var(--layer0);
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: border-color .2s ease-out;
    margin-bottom: 20px;
    gap: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.event:hover {
    border-color: var(--primary1_88);
}

.event:hover .event-location h2 {
    color: var(--primaryLight);
}

.event-date {
    width: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.event-date h2 {
    text-align: left;
    color: var(--primaryLight);
    margin: 0;
    font-size: 16pt;
    line-height: 18pt;
    text-wrap: nowrap;
}

.event-date h3 {
    text-align: left;
    color: var(--layer3);
    margin: 0;
    text-wrap: nowrap;
    font-weight: 100;
    font-size: 11pt;
    line-height: 16pt;
}

.event-location {
    width: 60%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.event-location h2 {
    text-align: left;
    color: white;
    margin: 0;
    font-size: 16pt;
    line-height: 18pt;
    text-wrap: nowrap;
    transition: color .2s ease-out;
}
.event-location h3 {
    text-align: left;
    color: var(--layer3);
    margin: 0;
    font-weight: 100;
    text-wrap: nowrap;
    font-size: 11pt;
    line-height: 16pt;
}

.event-location svg {
    display: inline-block;
    color: var(--primaryLight);
    padding-right: 3px;
}

.event-hover-bar {
    margin: 0 0 0 auto;
    width: 50px;
    height: 3px;
    border-radius: 10px;
    background-color: var(--primaryLightAlpha55);
    transition: width .2s ease-out, background-color .2s ease-out;
}

.event:hover .event-hover-bar {
    width: 10%;
    background-color: var(--primaryLight);
}

#gallery-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    max-width: 80vw;
}

#gallery-images div {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

#gallery-images div img {
    object-position: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: grayscale(1.0);
    transition: filter .15s ease-out, transform .15s ease-out;
}

#gallery-images div:hover img {
    filter: grayscale(0.0) !important;
    transform: scale(1.1);
}

#gallery-images div:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 50%, transparent 0%, #0009 80%);
    z-index: 1;
}

#gallery {
    border-bottom: 1px solid var(--layer1);
    border-top: 1px solid var(--layer1);
    padding: 50px 0px;
}

#booking {
    background-color: var(--alternateSectionColoring3);

}

.left-align {
    text-align: left;
    padding-left: 0;
}

.inline-hints {
    padding-top: 50px;
}

.inline-hint {
    padding: 10px 20px;
    width: min-content;
    border-radius: 7px;
    border: 1px solid var(--layer1);
    background-color: var(--layer0);
    color: var(--layer2);
    font-size: 11pt;
    line-height: 11pt;
    text-wrap: nowrap;
    font-weight: 500;
    display: inline-block;
    margin-right: 20px;
}

.inline-hint svg {
    height: 11pt;
    width: 11pt;
    padding-right: 3px;
    color: var(--primaryLight);
    position: relative;
    top: 2px;
}

#setlist {
    padding: 100px 30px 0px 30px;
}

#booking #downloads {
    background-color: var(--alternateSectionColoring);
    border-radius: 30px;
    border: 1px solid var(--layer1);
    padding: 35px;
    box-sizing: border-box;
}

#booking #downloads .download {
    background-color: var(--layer0);
    border-radius: 15px;
    border: 1px solid var(--layer1);
    padding: 15px;
    width: 100%;
    text-align: left;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 10px;
    transition: background-color .15s ease-out, border-color .15s ease-out;
    cursor: pointer;
}

#booking #downloads .download:hover svg:nth-of-type(0n+1) {
    background-color: var(--primaryLight) !important;
    color: black !important;
}
#booking #downloads .download:hover svg:nth-of-type(0n+2) {
    color: var(--primaryLight) !important;
}
#booking #downloads .download:hover {
    background-color: var(--layer1);
    border-color: var(--primaryLight);
}
#booking #downloads > h1 {
    text-transform: uppercase;
    color: var(--layer2);
    font-size: 18pt;
    text-align: left;
    font-weight: 600;
    margin-top: 0;
}

#booking #downloads .download svg:nth-of-type(0n+1) {
    width: 20px;
    height: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--primaryLightAlpha22);
    color: var(--primaryLight);
    margin-right: 10px;
    transition: color .15s linear, background-color .15s linear;
}

#booking #downloads .download svg:nth-of-type(0n+2) {
    width: 20px;
    height: 20px;
    padding: 10px;
    border-radius: 10px;
    color: var(--layer2);
    margin-left: auto;
    transition: color .15s linear;
}

#booking #downloads .download h2 {
    font-weight: 800;
    color: var(--foreground);
    margin: 0px;
    font-size: 12pt;
    line-height: 12pt;
    letter-spacing: 0px;
}
#booking #downloads .download h3 {
    font-weight: 400;
    color: var(--layer2);
    margin: 0px;
    margin-top: 5px;
    font-size: 10pt;
    line-height: 10pt;
    letter-spacing: 0px;
}

#contact-mail {
    font-size: 26pt;
    line-height: 30pt;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    letter-spacing: 0px;
    color: white;
    gap: 15px;
    transition: color .15s ease-out;
    cursor: pointer;
}
#contact-mail svg:nth-child(0n+1) {
    width: 30pt;
    height: 30pt;
    color: var(--primaryLight);
    transition: color .15s ease-out;
}

#contact-mail svg:nth-child(0n+2) {
    color: var(--primaryLight);
    width: 30px;
    height: 30px;
    margin-left: -30px;
    opacity: 0;
    transition: color .15s ease-out, opacity .15s ease-out, margin-left .15s ease-out;
}

#contact-mail:hover {
    color: var(--primaryLight) !important;
}
#contact-mail:hover svg:nth-child(0n+1) {
    color: white;
}
#contact-mail:hover svg:nth-child(0n+2) {
    opacity: 1 !important;
    margin: 0 !important;
}

#other-channels {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#other-channels a {
    border-radius: 100px;
    background-color: var(--alternateSectionColoring);
    border: 1px solid var(--layer1);
    padding: 20px;
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    transition: border .3s ease-out, transform .3s ease-out, background-color .3s ease-out;
}

#other-channels a img {
    width: 100%;
    height: 100%;
    display: block;
    transform: translateY(0px);
}

#other-channels a:hover {
    border: 1px solid var(--primaryLight);
    transform: translateY(-10px);
    background-color: var(--alternateSectionColoring4);
}

footer {
    width: calc(100% - 80px);
    margin: 0px 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 20px;
    border-top: 1px solid var(--layer1);
    box-sizing: border-box;
}

footer,
footer h3 {
    color: var(--layer2);
    font-size: 11pt;
    font-weight: 1;
}

footer h3 {
    margin: 0;
    padding: 20px 0px;
    cursor: pointer;
}

.spacer {
    flex: 1;
}

@media screen and (max-width: 700px) {
    .event {
        align-items: start !important;
        flex-direction: column;
        max-width: 90vw !important;
        margin-left: auto;
        margin-right: auto;
    }

    .event-hover-bar {
        margin: 0 !important;
    }

    .section-text {
        max-width: 95% !important;
        padding: 30px 5px 50px !important;
        margin-left: auto;
        margin-right: auto;
        width: 95%;
    }

    .section-left,
    .section-left-wide {
        flex-direction: column;
    }

    .section-left-content1 {
        width: 100% !important;
        max-width: 100% !important;
    }

    .iframe-wrapper {
        width: 100%;
        max-width: 100%;
    }

    .section-header-compact {
        margin: 10px auto !important;
    }

    .left-align {
        text-align: center;
    }

    .big-circle-prim1 {
        background-color: var(--primaryLightAlpha22) !important;
    }
    .big-circle-prim2 {
        background-color: var(--primary2_22) !important;
    }
}