<app-titlebar></app-titlebar>
<app-logo-block></app-logo-block>

<app-video-list	id="live-action" class="section"
	isVisible [threshold]="0.25"	visibleClass="fadeIn"></app-video-list>
<app-video-list-mobile-selector></app-video-list-mobile-selector>

<app-about-us id="about-us" class="section"
	isVisible [threshold]="0.25"	visibleClass="fadeIn"></app-about-us>
<app-calendar-list id="next-events" class="section"
	isVisible [threshold]="0.25"	visibleClass="fadeIn"></app-calendar-list>
<app-setlist id="setlist" class="section-left"
	isVisible [threshold]="0.25"	visibleClass="fadeIn"></app-setlist>
<app-booking id="booking" class="section-left-wide"
	isVisible [threshold]="0.25"	visibleClass="fadeIn"></app-booking>
<app-gallery id="gallery" class="section"
	isVisible [threshold]="0.25"	visibleClass="fadeIn"></app-gallery>
<app-contact id="contact" class="section"
	isVisible [threshold]="0.25"	visibleClass="fadeIn"></app-contact>
<app-footer (onPrivacyPolicy)="this.doShowPrivacyPolicy.set(true)" (onImpressum)="this.doShowImpressum.set(true)"></app-footer>

@if (this.loadingOverlay.loadingOverlayVisible()) {
<app-loadingoverlay [videoURL]="this.loadingOverlay.getVideoURL()" [message]="this.loadingOverlay.getMessage()"
	[hasInputText]="this.loadingOverlay.hasInputText" [inputPlaceholder]="this.loadingOverlay.inputPlaceholder"
	[maxInputLength]="this.loadingOverlay.inputMaxLength"
	(inputTextChange)="this.loadingOverlay.inputTextChange($event)"
	[inputMarkedErronous]="this.loadingOverlay.inputInvalid"
	[videoShouldRepeat]="this.loadingOverlay.videoShouldRepeat" [buttons]="this.loadingOverlay.buttons"
	(buttonClicked)="this.loadingOverlay.buttonClicked($event)"
	[hasCaptcha]="this.loadingOverlay.hasCaptcha"></app-loadingoverlay>
}

@if(this.doShowPrivacyPolicy()) {
<app-big-overlay (close)="this.doShowPrivacyPolicy.set(false)">
		<app-privacypolicy></app-privacypolicy>
</app-big-overlay>
}
@if(this.doShowImpressum()) {
<app-big-overlay (close)="this.doShowImpressum.set(false)">
		<app-impressum></app-impressum>
</app-big-overlay>
}