<app-titlebar></app-titlebar>
<app-logo-block></app-logo-block>
<app-video-list id="live-action" class="section"></app-video-list>
<app-about-us id="about-us" class="section"></app-about-us>
<app-calendar-list id="next-events" class="section"></app-calendar-list>
<app-setlist id="setlist" class="section-left"></app-setlist>
<app-booking id="booking" class="section-left-wide"></app-booking>
<app-gallery id="gallery" class="section"></app-gallery>
<app-contact id="contact" class="section"></app-contact>
<app-footer></app-footer>