<div #wrapper id="wrapper" [class.heightCrop]="this.heightCrop" (window:resize)="onResize($event)">
    @if(this.slideshow) {

    @for(item of galleryPreviewItems(); track item) {
    <div #diamondImage class="diamondWrapper">
        <div class="diamond">
            <app-smooth-load-img [imageURLs]="this.images"
                (imageClicked)="imageClicked.emit($event)"></app-smooth-load-img>
        </div>
    </div>
    }
    } @else {

    @for(item of this.images(); track item) {
    <div #diamondImage class="diamondWrapper">
        <div class="diamond">
            <app-smooth-load-img [attr.test]="item" [src]="item"
                (imageClicked)="imageClicked.emit($event)"></app-smooth-load-img>
        </div>
    </div>
    }

    }
</div>