<div class="overlay-content-full-height">
    <div id="left">
        <div id="left-img" class="hide-on-mobile">
            <app-colored-svg svgSrc="/images/svg/document.svg"></app-colored-svg>
            <h2 class="overlay-img-subtext">Impressum</h2>
        </div>

    </div>
    <div id="right">
        <h3 class="small-highlight no-margin">Rechtliches</h3>
        <h1 id="entry-title" class="section-header left-align no-margin">Impressum</h1>

        <hr />

        <div class="overlay-card-entry">
            <app-colored-svg svgSrc="/images/svg/home.svg"></app-colored-svg>
            <div class="overlay-card-entry-content">
                <h3 class="small-highlight no-margin">Anbieter</h3>
                <p>Leonhard Mittermeier<br />
                    Bischof-Bernhard-Stra&szlig;e 17<br />
                    84559 Kraiburg am Inn
                    Deutschland
                </p>
            </div>
        </div>

        <div class="overlay-card-entry">
            <app-colored-svg svgSrc="/images/svg/phone.svg"></app-colored-svg>
            <div class="overlay-card-entry-content">
                <h3 class="small-highlight no-margin">Kontakt</h3>
                <p>Telefon: +49 (0) 1512 58 98 752<br />
                    E-Mail: leonhardmittermeier(at)gmail.com
                </p>
            </div>
        </div>

        <hr />

        <div class="overlay-card-entry">
            <app-colored-svg svgSrc="/images/svg/document.svg"></app-colored-svg>
            <div class="overlay-card-entry-content">
                <h3 class="small-highlight no-margin">Angaben gemäß § 5 DDG</h3>
                <p>Verantwortlich für den Inhalt nach<br />
                    § 18 Abs. 2 MStV:<br />
                    Leonhard Mittermeier
                    (Adrese wie oben)
                </p>
            </div>
        </div>

        <div class="overlay-card-entry">
            <app-colored-svg svgSrc="/images/svg/protection.svg"></app-colored-svg>
            <div class="overlay-card-entry-content">
                <h3 class="small-highlight no-margin">Haftungsausschluss</h3>
                <p>
                    Die Inhalte unserer Website wurden mit größter Sorgfalt erstellt.
                    Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr
                    übernehmen.
                    Als Diensteanbieter sind wir nach den allgemeinen gesetzlichen Vorschriften für eigene Inhalte auf
                    diesen Seiten verantwortlich.
                    Wir sind jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu
                    überwachen oder nach Umständen zu forschen,
                    die auf eine rechtswidrige Tätigkeit hinweisen.
                </p>
            </div>
        </div>
    </div>
</div>