:host {
    background-color: var(--alternateSectionColoring3);
    align-items: center;
}

.section-left-content1 {
    margin-bottom: 100px;
}

#downloads {
    background-color: var(--alternateSectionColoring);
    border-radius: 30px;
    border: 1px solid var(--layer1);
    padding: 35px;
    box-sizing: border-box;
}

#downloads .download {
    background-color: var(--layer0);
    border-radius: 15px;
    border: 1px solid var(--layer1);
    padding: 15px;
    width: 100%;
    text-align: left;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 10px;
    transition: background-color .15s ease-out, border-color .15s ease-out;
    cursor: pointer;
}

#downloads .download:hover app-colored-svg:nth-of-type(0n+1) {
    --colHov: black !important;
    background-color: var(--primaryLight) !important;
}
#downloads .download:hover app-colored-svg:nth-of-type(0n+2) {
    --colHov: var(--primaryLight) !important;
}
#downloads .download:hover {
    background-color: var(--layer1);
    border-color: var(--primaryLight);
}
#downloads > h1 {
    text-transform: uppercase;
    color: var(--layer2);
    font-size: 18pt;
    text-align: left;
    font-weight: 600;
    margin-top: 0;
}

#downloads .download app-colored-svg:nth-of-type(0n+1) {
    width: 20px;
    height: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--primaryLightAlpha22);
    --colHov: var(--primaryLight);
    margin-right: 10px;
    transition: color .15s linear, background-color .15s linear;
}

#downloads .download app-colored-svg:nth-of-type(0n+2) {
    width: 20px;
    height: 20px;
    padding: 10px;
    border-radius: 10px;
    --colHov: var(--layer2);
    margin-left: auto;
    transition: color .15s linear;
}

#downloads .download app-colored-svg {
    min-width: 18px;
    min-height: 18px;
    line-height: 18px;
}

#downloads .download h2 {
    font-weight: 800;
    color: var(--foreground);
    margin: 0px;
    font-size: 12pt;
    line-height: 12pt;
    letter-spacing: 0px;
}
#downloads .download h3 {
    font-weight: 400;
    color: var(--layer2);
    margin: 0px;
    margin-top: 5px;
    font-size: 10pt;
    line-height: 10pt;
    letter-spacing: 0px;
}