<div class="section-left-content1">
    <h1 class="section-header left-align">Ready for <span class="section-header-highlight">Booking?</span></h1>
    <span class="section-text-subtitle">
        Wir machen euch die Planung so einfach wie möglich. Hier findet ihr alle wichtigen Unterlagen für Veranstalter,
        Techniker und Presseanfragen zum direkten Download.
    </span>

    <div class="inline-hints">
        <div class="inline-hint">
            <app-colored-svg svgSrc="/images/svg/music-note.svg"></app-colored-svg>
            100% Live Performance
        </div>
        <div class="inline-hint">
            <app-colored-svg svgSrc="/images/svg/document.svg"></app-colored-svg>
            Profi Equipment
        </div>
    </div>
</div>
<span class="section-text section-left-content2">
    <div id="downloads">
        <h1>Downloads</h1>

        @defer (when this.backend.documentsLoaded) {

            @for(document of this.backend.documents(); track document.url) {
                <a [href]="document.url" target="_blank">
                    <div class="download">
                        <app-colored-svg col="var(--colHov)" svgSrc="/images/svg/download.svg"></app-colored-svg>
                        <div>
                            <h2>{{formatFileName(document.name)}}</h2>
                            <h3>{{formatFileType(document.name)}} • {{formatSize(document.size)}}</h3>
                        </div>
                        <app-colored-svg col="var(--colHov)" svgSrc="/images/svg/arrow2.svg"></app-colored-svg>
                    </div>
                </a>
            }

            @for(link of this.backend.links(); track link.url) {
                <a [href]="link.url" target="_blank">
                    <div class="download">
                        <app-colored-svg col="var(--colHov)" svgSrc="/images/svg/link.svg"></app-colored-svg>
                        <h2>{{link.name}}</h2>
                        <app-colored-svg col="var(--colHov)" svgSrc="/images/svg/arrow2.svg"></app-colored-svg>
                    </div>
                </a>
            }

        } @placeholder(minimum 500ms) {
            <h3 id="load-documents">Lade Dokumente</h3>
        }
    </div>
</span>