<div class="section-left-content1">
    <h1 class="section-header left-align">Ready for <span class="section-header-highlight">Booking?</span></h1>
    <span class="section-text-subtitle">
        Wir machen euch die Planung so einfach wie möglich. Hier findet ihr alle wichtigen Unterlagen für Veranstalter,
        Techniker und Presseanfragen zum direkten Download.
    </span>

    <div class="inline-hints">
        <div class="inline-hint">
            <app-colored-svg svgSrc="/images/svg/music-note.svg"></app-colored-svg>
            100% Live Performance
        </div>
        <div class="inline-hint">
            <app-colored-svg svgSrc="/images/svg/document.svg"></app-colored-svg>
            Profi Equipment
        </div>
    </div>
</div>
<span class="section-text section-left-content2">
    <div id="downloads">
        <h1>Downloads</h1>
        <div class="download">
            <app-colored-svg col="var(--colHov)" svgSrc="/images/svg/download.svg"></app-colored-svg>
            <div>
                <h2>Technical Rider</h2>
                <h3>PDF • 1.2MB</h3>
            </div>
            <app-colored-svg col="var(--colHov)" svgSrc="/images/svg/arrow2.svg"></app-colored-svg>
        </div>
        <div class="download">
            <app-colored-svg col="var(--colHov)" svgSrc="/images/svg/download.svg"></app-colored-svg>
            <div>
                <h2>Presskit (Bilder & Bio)</h2>
                <h3>PDF • 15.8MB</h3>
            </div>
            <app-colored-svg col="var(--colHov)" svgSrc="/images/svg/arrow2.svg"></app-colored-svg>
        </div>
        <div class="download">
            <app-colored-svg col="var(--colHov)" svgSrc="/images/svg/download.svg"></app-colored-svg>
            <div>
                <h2>Setlist (Beispiel)</h2>
                <h3>PDF • 0.5MB</h3>
            </div>
            <app-colored-svg col="var(--colHov)" svgSrc="/images/svg/arrow2.svg"></app-colored-svg>
        </div>
    </div>
</span>