:host {
    width: 80%;
    margin: 0 auto;
    position: relative;
    max-width: 80%;
    display: block;

    #scrollerBlock {
        min-height: var(--stickyHeight);
        height: var(--stickyHeight);
        width: 100%;

        #stickyBlock {

            height: 70vh;
            max-height: 70vh;
            background-image: linear-gradient(to right, var(--primary2), var(--primary1));
            box-shadow: 0px 0px 10px black;
            width: 100%;

            position: sticky;
            top: calc(15vh);

            #header {
                position: relative;
                width: max-content;
                text-align: center;
                font-size: 25pt;
                padding: 0px 50px;
                box-shadow: 0px 0px 10px #0009;
                margin: 0 auto;
                background-color: white;
            }

            #headerBack {
                position: relative;
                line-height: 50px;
                transform: translateY(-50%);

                top: 0;
                width: max-content;
                margin: 0 auto;
                height: 50px;
                background-color: black;
                content: '';
            }

            #headerBack:after {
                content: '';
                position: absolute;
                top: 50%;
                right: -25px;
                height: 0;
                border-bottom: 25px solid transparent;
                border-left: 25px solid #fffc;
            }

            #headerBack:before {
                content: '';
                position: absolute;
                top: 50%;
                left: -25px;
                height: 0;
                border-bottom: 25px solid transparent;
                border-right: 25px solid #fffc;
            }

            #content {
                height: calc(100% - 50px);
                position: relative;
                width: 100%;

                #imgContainer {
                    position: absolute;
                    max-height: 100%;
                    left: 0;
                    top: 0;
                    height: 100%;

                    img {
                        position: absolute;
                        top: calc(50% + 20px);
                        left: -20px;
                        width: auto;
                        height: 100%;
                        transform: translateY(-50%) scale(1.2);
                        filter: drop-shadow(-10px 0px 5px #0007);
                    }
                }

                #itemContainerClip {
                    height: 100%;
                    max-height: 100%;
                    overflow: hidden;
                    width: 100%;
                    position: relative;

                    #itemContainer {
                        list-style: none;
                        padding: 0;
                        margin: 0;
                        z-index: 1;
                        width: 75%;
                        left: calc(25%);
                        position: absolute;
                        top: 0;
                        transition: top 0.15s ease-out;
                        display: flex;
                        flex-direction: column;
                        flex-wrap: nowrap;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 700px) {
    :host {
        width: 100% !important;
        max-width: 100% !important;

        #content {
            #itemContainer {
                width: 100% !important;
                left: 0 !important;
                padding-top: 30px !important;
            }
            #imgContainer {
                display: none !important;
            }
        }

        #scrollerBlock {
            #stickyBlock {
                height: 100vh !important;
                max-height: 100vh !important;
                top: 0px !important;

                #headerBack {
                    width: 100% !important;;
                    line-height: 100px !important;;
                    height: 100px !important;;
                    transform: unset !important;
                    #header {
                        width: initial !important;
                        text-align: left;
                    }
                }

                #headerBack::before,
                #headerBack::after {
                    display: none !important;
                }

            }
        }
    }
}