<div #scrollContainer id="scrollerBlock">
    <div id="stickyBlock" #stickyBlock [class.fullScreen]="this.fullScreen">
        <app-section-header [title]="this.title">

            @if(this.controlSelectElements.length > 0) {
                <select id="select" name="select" (change)="controlSelectChanged($event)">
                    @for(element of this.controlSelectElements; track element) {
                        <option [value]="element">{{element}}</option>
                    }
                </select>
            }

        </app-section-header>
        <div id="content" #contentBlock>
            @if(this.imgUrl != "") {
                <div id="imgContainer">
                    <img src={{imgUrl}} />
                </div>
            }

            <div id="itemContainerClip" [class.defaultScroll]="this.defaultScroll">
                <ul id="itemContainer" #itemContainer [class.fullWidth]="this.imgUrl == ''" [class.noPadding]="this.contentNoPadding">
                    <ng-content #content></ng-content>
                </ul>
            </div>
        </div>

        @if (this.hasCloseButton) {
            <div id="close" (click)="this.close()">╳</div>
        }
    </div>
</div>