<form id="overlayFullSize" [formGroup]="captchaFormGroup">
	<div id="backdrop-blur" animate.enter="loverlayFadeIn" animate.leave="loverlayFadeOut"></div>
	<div class="overlayContainer" animate.enter="loverlayFadeIn" animate.leave="loverlayFadeOut">
		<ng-lottie [options]="this.animationOptions()"></ng-lottie>

		@for (msg of this.message(); track msg) {
			<div>{{msg}}</div>
		}
		@if (this.hasInputText()) {
			<input #textIn type="text" [placeholder]="this.inputPlaceholder()" (input)="this.inputTextChanges($event)"
				[maxLength]="this.maxInputLength()" [class.erronousinput]="this.inputMarkedErronous()" />
		}

		@if (this.buttons().length > 0) {
			<div id="buttons">
				@for(btn of this.buttons(); track btn.text) {
					<button [style.background-color]="btn.color" (click)="this.buttonClickedEvt($event)">{{btn.text}}</button>
				}
			</div>
		}

		@if (this.hasCaptcha()) {
			@defer (on viewport) {
				<app-hcaptcha #captcha formControlName="captcha"></app-hcaptcha>
			} @placeholder(minimum 200ms) {
				<div class="input-margin" id="captcha-placeholder">Lade HCaptcha...</div>
			}
		}

		<h1 id="close" (click)="this.close()">╳</h1>
	</div>
</form>