<div id="overlayFullSize" [class.fadeIn]="this.fadeIn">
	<div class="overlayContainer">
		<video #video autoplay [loop]="this.videoShouldRepeat()">
			<source [src]="this.videoURL()" type="video/webm" />
		</video>
		@for (msg of this.message(); track msg) {
			<div>{{msg}}</div>
		}
		@if (this.hasInputText()) {
			<input #textIn type="text" [placeholder]="this.inputPlaceholder()" (input)="this.inputTextChanges($event)"
				[maxLength]="this.maxInputLength()" [class.erronousinput]="this.inputMarkedErronous()" />
		}

		@if (this.buttons().length > 0) {
			<div id="buttons">
				@for(btn of this.buttons(); track btn.text) {
					<button [style.background-color]="btn.color" (click)="this.buttonClickedEvt($event)">{{btn.text}}</button>
				}
			</div>
		}
		<h1 id="close" (click)="this.close()">╳</h1>
	</div>
</div>