@use '../../variables.scss' as *;

:host {
    position: relative;
    padding-bottom: 50px;
}

.section {
    background: black;
    padding: 30px;
    border-radius: 10px;
    text-transform: uppercase;
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--primaryLight);
    border: 1px solid var(--primaryLightAlphaAA);
    border-left: none;
    border-right: none;
}
