:host {
    position: relative;
    padding-bottom: 50px;
}

.section {
    position: sticky;
    top: 0;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(50px);
    padding: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
}