:host {
    width: 100%;
}

#wrapper {
	--size: 300px;
    --off: calc(var(--size) * -0.304);
    overflow: hidden;

    width: 100%;
    box-sizing: border-box;
    padding-top: calc(var(--size) * 0.207); // cube is 0.207*2 larger in width when rotated 45deg
    padding-bottom: calc(var(--size) * 0.414); // cube is 0.207*2 larger in width when rotated 45deg
}

.diamond img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(45deg) scale(1.5);
    object-fit: cover;
}

.diamond {
    display: inline-block;
    width: var(--size);
    height: var(--size);
    transform: rotate(-45deg);
    position: relative;
    overflow: hidden;
    margin-right: calc(var(--size) * 0.413); // cube is 0.207*2 larger in width when rotated 45deg
    margin-bottom: var(--off);
    box-sizing: border-box;
    border: 5px solid transparent;
    left: calc(0.207 * var(--size));
    border-radius: 15px;
}

.diamondWrapper {
    display: inline-block;
}

.diamondWrapper.noInsetScreenToSmall {
    height: calc(var(--size) * 1.414);
}

.diamondWrapper.oddRow.firstOfRow {
    margin-left: calc(var(--size)*0.707);
}

#galleryBigImage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background-color: #000c;
    display: none;
}

#galleryBigImage.showBigImage {
    display: block !important;
}

#galleryBigImageViewer {
    position: absolute;
    top: 10px;
    left: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    object-fit: contain;
}

#galeryBigImageClose {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 20pt;
    color: white;
    margin: 0;
    line-height: 20pt;
    text-shadow: 0px 0px 16px black;
}

@media screen and (max-width: 700px) {
    #wrapper {
        --size: 150px;
    }
}