<h1 class="section-header">Live <span class="section-header-highlight">Highlights</span></h1>

@defer (when this.backend.imagesLoaded) {
    <span class="section-text" id="gallery-images">
        @for(image of this.backend.teaserImages(); track image) {
            <div><img [src]="image" (click)="backend.openBigImageEvt($event)" /></div>
        }
    </span>
} @placeholder(minimum 500ms) {
    <h3 id="load-images">Lade Bilddaten...</h3>
}

<button (click)="this.backend.showBigGallery.set(true)" class="low-attention">
    Zeig mir mehr
    <app-colored-svg svgSrc="/images/svg/arrow.svg"></app-colored-svg>
</button>
