:host {
    width: 100%;
    position: relative;
    height: 550px;
    display: block;
}

#mask {
    height: 100%;
    overflow: hidden;
    mask-image: linear-gradient( to bottom, transparent 0%, black 30%, black 70%, transparent 100%);

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 30px;
    padding: 60px 0px;
    box-sizing: border-box;
}

#galleryBigImageViewerHR {
    opacity: 0;
}

.bigImageHRvisible {
    opacity: 1 !important;
    z-index: 10;
}

#galleryBigImageViewerHR,
#galleryBigImageViewerLR {
    position: absolute;
    top: 10px;
    max-width: calc(100% - 20px);
    height: calc(100% - 20px);
    width: min-content;
    left: 50%;
    transform: translateX(-50%);
    object-fit: contain;
}

#galeryBigImageClose {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 20pt;
    color: white;
    margin: 0;
    line-height: 20pt;
    text-shadow: 0px 0px 16px black;
    cursor: pointer;
    z-index: 10;
}

.action {
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform .2s ease-out;
}

.action:hover {
    transform-origin: center;
    transform: translate(-50%, -50%) scale(1.1);
}

#background-border {
    position: absolute;
    height: 100%;
    z-index: -1;
    background-color: black;
    top: 0%;
    left: 0%;
    width: 100%;
    border-top: 5px solid transparent;
    border-image: linear-gradient(45deg, var(--primary1) 0%, var(--primary2) 100%) 25%;
    border-bottom: 5px solid;
}

app-section-header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

ng-lottie {
    width: 50px;
    height: 50px;
}

#hrLoadingWrapper {
    z-index: 11;
    background-color: #0008;
    padding: 5px 15px;
    box-sizing: border-box;
    border-radius: 10px;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

#hrLoadingWrapper h3 {
    color: white;
    margin: 0;
    padding-left: 10px;
}

#load-images {
    color: white;
    padding: 50px;
    text-align: center;
    font-size: 25pt;
}

img {
    border: 2px solid white;
}

#mask img {
    box-sizing: border-box;
    cursor: pointer;
    transform-origin: center;
    transition: transform .3s ease-out, box-shadow .3s ease-out;
    transform: scale(1.0);
    box-shadow: 0px 0px 0px white;
    max-width: 30vw;
    margin: 0 auto;
    object-fit: cover;
}

#mask img:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px white;
}

@media screen and (max-width: 700px) {
    #wrapper {
        --size: 200px;
    }
    :host {
        height: auto;
    }

    app-section-header {
        position: sticky;
    }

    #mask {
        flex-direction: column;
        mask-image: none !important;
    }

    #mask img {
        max-width: 80vw;
        max-height: 400px;
    }
}