<h1 class="section-header">Live in <span class="section-header-highlight">Action</span></h1>
<span class="section-text-subtitle">
	Ein kleiner Vorgeschmack auf unsere Shows
</span>

<app-video-list-playlist-selector></app-video-list-playlist-selector>

<div id="video-container">
	<div id="video-player">
		<div class="iframe-wrapper">
			<youtube-player [videoId]="this.videoService.currentVideo()?.videoID ?? ''" width="100%" #ytPlayer></youtube-player>
		</div>
	</div>
	<app-video-list-video-selector></app-video-list-video-selector>
</div>
<button id="open-video-selector-mobile" (click)="videoService.mobileVideoListOpened.set(true)">Live videos</button>
