.media-video {
    height: var(--elementHeight);
    width: 100%;
    opacity: 0;
    transition: opacity .5s ease-out;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
}

.visible {
    opacity: 1;
}

#selectPlaylistCont {
    height: var(--elementHeight);
}

:host ::ng-deep youtube-player iframe {
    width: 100%;
    height: 100%;
    display: block;
}
:host ::ng-deep youtube-player > div {
    height: 100%;
    width: 100%;
}
:host ::ng-deep youtube-player youtube-player-placeholder {
    width: 100% !important;
    height: 100% !important;
}

youtube-player {
    flex: 1;
}

.video-name {
    margin: 0;
    padding: 20px;
    background: #000a;
    color: white;
    flex: 0;
}