<div class="big-circle-prim1"></div>

<h1 class="section-header">Nächste <span class="section-header-highlight">Events</span></h1>
<span class="section-text-subtitle">
    Hier kannst du uns demnächst live erleben
</span>

<span class="section-text">
    <div id="events">
        <div id="events-upcoming">
            <span>Bevorstehend</span>
        </div>

        @if (this.elements.find(e => isUpcoming(e)) === undefined) {
            <h1 id="no-gigs-planned">Aktuell haben wir keine Events geplant. Schau doch gerne später wieder vorbei und abonniere gleich unseren <span class="section-header-highlight">Newsletter</span></h1>
        }

        @for(entry of this.elements; track entry.id) {
            @if(isUpcoming(entry)) {
                <div class="event" (click)="this.calendar.bigImageEntry.set(entry);">
                    <div class="event-date">
                        <h1>{{formatDay(entry.date)}}</h1>
                        <h2>{{formatDate(entry.date)}}</h2>
                    </div>
                    <div class="event-location">
                        <h2>{{entry.title}}</h2>
                        <h3 class="event-loc-details">
                            <app-colored-svg svgSrc="/images/svg/location.svg"></app-colored-svg>
                            {{entry.locationString.split(",")[0]}}
                        </h3>
                        <h3>{{formatTime(entry.date)}}</h3>
                    </div>
                    <div class="event-hover-bar"></div>
                </div>
            }
        }

        <div id="events-gone">
            <span>Vergangen</span>
        </div>

        @for(entry of this.elements; track entry.id) {
            @if(!isUpcoming(entry)) {
                <div class="event event-gone" (click)="this.calendar.bigImageEntry.set(entry);">
                    <div class="event-date">
                        <h1>{{formatDay(entry.date)}}</h1>
                        <h2>{{formatDate(entry.date)}}</h2>
                    </div>
                    <div class="event-location">
                        <h2>{{entry.title}}</h2>
                        <h3 class="event-loc-details">
                            <app-colored-svg svgSrc="/images/svg/location.svg"></app-colored-svg>
                            {{entry.locationString.split(",")[0]}}
                        </h3>
                        <h3>{{formatTime(entry.date)}}</h3>
                    </div>
                    <div class="event-hover-bar"></div>
                </div>
            }
        }

    </div>


    <span class="section-header-small">Neue Events direkt in deine <span class="section-header-highlight">Inbox</span></span>
    <form #subscribe id="subscribe-mails" [formGroup]="this.subscribeFormGroup" [class.valid]="subscribeFormGroup.valid" (submit)="submitForm()">
        <h3 class="section-text-subtitle">Abonniere hier unseren Newsletter und verpasse keine Eventankündigungen mehr.</h3>
        <div id="subscribe-inputs">
            <input type="text" name="subscribe-mail" placeholder="Deine E-Mail-Adresse..." formControlName="email" />
            <input type="hidden" name="subscribe-captcha" formControlName="captcha" />
            <button type="submit">Abonnieren</button>
        </div>
    </form>
</span>

@if(this.resolvedBigImage() != undefined) {
    <app-big-overlay (close)="this.calendar.bigImageEntry.set(undefined)">

        <div class="overlay-content">
            <div id="left">
                <div #map id="left-img" (click)="openMapsLink()"></div>
            </div>
            <div id="right">
                <h3 class="small-highlight no-margin">Live Event</h3>
                <h1 id="entry-title" class="section-header left-align no-margin">Live in <span class="section-header-highlight">{{this.resolvedBigImage()!.entry.locationString.split(",")[0]}}</span></h1>
                <h3 id="entry-description" class="section-text-subtitle left-align no-margin">{{this.resolvedBigImage()!.entry.description}}</h3>

                <div class="overlay-card-entry-wide">
                    <app-colored-svg svgSrc="/images/svg/location.svg"></app-colored-svg>
                    <div class="overlay-card-entry-content">
                        <h3 class="small-highlight no-margin">Ort</h3>
                        <p>
                            {{this.resolvedBigImage()!.entry.locationString.split(",")[0]}}<br/>
                            {{this.resolvedBigImage()!.entry.locationString.split(",").splice(1).join(',')}}
                        </p>
                    </div>
                </div>

                <div class="overlay-card-entry-wide">
                    <app-colored-svg svgSrc="/images/svg/calendar.svg"></app-colored-svg>
                    <div class="overlay-card-entry-content">
                        <h3 class="small-highlight no-margin">Datum</h3>
                        <p>{{formatDateFull(this.resolvedBigImage()!.entry.date)}}</p>
                    </div>
                </div>

                <div class="overlay-card-entry-wide">
                    <app-colored-svg svgSrc="/images/svg/clock.svg"></app-colored-svg>
                    <div class="overlay-card-entry-content">
                        <h3 class="small-highlight no-margin">Zeit</h3>
                        <p>Einlass: {{formatTime(this.resolvedBigImage()!.entry.date)}}</p>
                    </div>
                </div>
            </div>
        </div>
            
        @if(this.resolvedBigImage()!.attachmentURLs.length != 0) {
            <div id="flyer">
                <hr />
                <h3 id="flyer-title">Flyer</h3>
                    <div id="flyer-scroll">
                        <div id="flyer-scroll-left" [class.scrollActive]="this.scrollLeftActive" (click)="scrollLeft()"><app-colored-svg svgSrc="/images/svg/arrow.svg" col="#fff"></app-colored-svg></div>
                        <div class="flyer-spacer"></div>

                        <div id="flyer-scroll-items" #flyerScroll (scroll)="this.scroll()">
                            <div class="flyer-spacer"></div>
                            @for(attachment of this.resolvedBigImage()!.attachmentURLs; track attachment) {
                                <img [src]="attachment.renderedPng" (click)="open(attachment.sourceURL)" />
                            }
                            <div class="flyer-spacer"></div>
                        </div>

                        <div class="flyer-spacer"></div>
                        <div id="flyer-scroll-right" [class.scrollActive]="this.scrollRightActive" (click)="scrollRight()"><app-colored-svg svgSrc="/images/svg/arrow.svg" col="#fff"></app-colored-svg></div>
                    </div>
            </div>
        }
    </app-big-overlay>
}