<app-section-header title="Nächste Gigs"></app-section-header>

<div id="background-border"></div>

<div id="section-container">
    <div id="calendar-entries">
        @if(this.elements.length == 0) {
        <h1 id="no-gigs-planned">🥁 Aktuell haben wir keine Events geplant. Schau doch gerne später wieder vorbei 🎸
        </h1>
        }

        @for(entry of this.elements; track entry.id) {
        <div class="calendar-entry" (click)="this.calendar.bigImageEntry.set(entry);">
            <div id="section-left">
                <h3 class="calendar-click-to-show">Details anzeigen »</h3>
            </div>
            <div id="section-right">
                <h2 class="calendar-entry-title">{{entry.title}}</h2>
                <h3 class="calendar-entry-date">{{formatDate(entry.date)}}</h3>
            </div>
        </div>
        }
    </div>
</div>


@if(this.resolvedBigImage() != undefined) {
<div id="calendar-entry-big-view" animate.enter="fadeIn" animate.leave="fadeOut">
    <div id="calendar-entry-big-blur">
        <div id="calendar-entry-big-view-content">
            @if (this.resolvedBigImage()!.entry.geocoding !== undefined) {
            <iframe id="calendar-entry-big-map" [src]="this.resolvedBigImage()!.url" style="border:0;" allowfullscreen=""
                loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            }

            <div id="split-view">
                <div>
                    <table>
                        <tr>
                            <td><span>Was?</span></td>
                            <td>{{this.resolvedBigImage()!.entry.title}}</td>
                        </tr>
                        <tr>
                            <td><span>Wo?</span></td>
                            <td>{{this.resolvedBigImage()!.entry.locationString}}</td>
                        </tr>
                        <tr>
                            <td><span>Wann?</span></td>
                            <td>{{formatDate(this.resolvedBigImage()!.entry.date)}}</td>
                        </tr>
                        <tr>
                            <td><span>Details:</span></td>
                            <td>{{this.resolvedBigImage()!.entry.description}}</td>
                        </tr>
                    </table>
                </div>
                @if(this.resolvedBigImage()!.attachmentURLs.length != 0) {
                    <div>
                        @for(attachment of this.resolvedBigImage()!.attachmentURLs; track attachment) {
                        <img [src]="attachment.renderedPng" (click)="open(attachment.sourceURL)" />
                        }
                    </div>
                }
            </div>

            <h1 id="calendarBigImageClose" (click)="this.calendar.bigImageEntry.set(undefined);">✕</h1>
        </div>
    </div>
</div>
}