:host {
    width: 100%;
    position: relative;
}

:host::before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(16px);
    content: '';
}

#background-border {
    position: absolute;
    height: 100%;
    z-index: -1;
    background-color: #0008;
    top: 0%;
    left: 0%;
    width: 100%;
    border-top: 5px solid transparent;
    border-image: linear-gradient(45deg, var(--primary1) 0%, var(--primary2) 100%) 25%;
    border-bottom: 5px solid;
}

app-section-header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

#calendar-entries {
    z-index: 1;
    padding: 50px;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.calendar-entry {
    max-width: 45vw;
    width: 45vw;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 5px black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    cursor: pointer;
}

#section-left {
    background-color: wheat;
    height: auto;
    flex: 1;
}

#section-right {
    padding: 50px;
    flex: 2;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

#section-right>* {
    margin: 0;
}

#background-border {
    z-index: 1;
}

#no-gigs-planned {
    z-index: 2;
    color: white;
    margin: 0 auto;
}

#section-left iframe {
    width: 100%;
    height: 100%;
}

#calendar-entry-big-view {
    z-index: 10000;
    position: fixed;
    width: 100%;
    height: 100dvh;
    top: 0;
    left: 0;
}

#calendar-entry-big-blur {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(30px);
}

#calendar-entry-big-view-content {
    position: relative;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    background: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#calendarBigImageClose {
    position: fixed;
    right: 8%;
    top: 8%;
    font-size: 20pt;
    color: white;
    margin: 0;
    line-height: 30px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    text-align: center;
    background-color: #00000077;
    padding: 10px;
    text-shadow: 0px 0px 16px black;
    cursor: pointer;
}


#calendar-entry-big-map {
    height: 200px;
}

#split-view {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: calc(100% - 200px);
}

#split-view > div {
    flex: 1;
    padding: 50px;
    box-sizing: border-box;
    max-height: 100%;
    overflow-y: scroll;
}

#split-view > div:nth-child(1) {
    border-right: 1px solid gray;
}

#split-view > div:nth-child(2) {
    background: linear-gradient(to right, var(--primary1), var(--primary2));
}

#split-view img {
    width: 100%;
    margin: 50px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px black;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

#split-view img:nth-child(n+2) {
    margin-top: 30px;
}

.calendar-click-to-show {
    padding: 11px 28px;
    border-radius: 4px;
    width: max-content;
    box-shadow: 0px 0px 5px gray;
    transition: scale .3s ease-out;
}

.calendar-click-to-show:hover {
    scale: 1.05;
    cursor: pointer;
}

#split-view table {
    width: 100%;
}

#split-view td {
    font-size: 15pt;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #0001;
}

#split-view tr td:nth-child(1) {
    padding-right: 25px;
    font-size: 24pt;
    font-weight: bolder;
    background: linear-gradient(45deg, var(--primary1NoAlpha), var(--primary2NoAlpha));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 700px) {
    .calendar-entry {
        width: 100vw;
        max-width: 100vw;
        flex-direction: column;
    }

    #split-view td {
        display: table-row;
    }

    app-section-header {
        position: sticky;
    }

    #split-view {
        flex-direction: column !important;
        height: unset !important;
    }

    #split-view > div:nth-child(1) {
        flex: unset !important;
    }

    #calendar-entry-big-view-content {
        overflow-y: scroll;
    }
}