li {
    font-size: 15pt;
    display: block;
    width: 80%;
    margin: 10px auto;
    background-color: white;
    color: black;
    box-shadow: 0px 0px 10px black;
    padding: 20px;
    height: 170px;
    line-height: 100px;
}

.noback {
    background-color: transparent !important;
    box-shadow: none !important;
}