:host {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-image: linear-gradient(to right, red, magenta);
    box-shadow: 0px 0px 10px black;
    position: relative;

    #header {
        position: relative;
        width: max-content;
        text-align: center;
        font-size: 25pt;
        padding: 0px 50px;
        box-shadow: 0px 0px 10px #0009;
        margin: 0 auto;
        background-color: white;
    }
    #headerBack {
        position: relative;
        line-height: 50px;
        transform: translateY(-50%);

        top: 0;
        width: max-content;
        margin: 0 auto;
        height: 50px;
        background-color: black;
        content: '';
    }
    #headerBack:after {
        content: '';
        position: absolute;
        top: 50%;
        right: -25px;
        height: 0;
        border-bottom: 25px solid transparent;
        border-left: 25px solid #fffc;
    }
    #headerBack:before {
        content: '';
        position: absolute;
        top: 50%;
        left: -25px;
        height: 0;
        border-bottom: 25px solid transparent;
        border-right: 25px solid #fffc;
    }

    #content {
        height: calc(100% - 50px);

        #imgContainer {
            position: absolute;
            max-height: 100%;
            left: 0;
            top: 0;
            height: 100%;
    
            img {
                position: absolute;
                top: calc(50% + 20px);
                left: -20px;
                width: auto;
                height: 100%;
                transform: translateY(-50%) scale(1.2);
                filter: drop-shadow(-10px 0px 5px #0007);
            }
        }
    
        #itemContainer {
            list-style: none;
            padding: 0;
            margin: 0;
            height: 100%;
            overflow-y: scroll;
            z-index: 1;
            width: 75%;
            left: calc(25%);
            position: relative;

            li {
                display: block;
                width: 80%;
                margin: 20px auto;
                background-color: white;
                color: black;
                box-shadow: 0px 0px 10px black;
                padding: 20px;
            }
        }
    }    
}

@media screen and (max-width: 700px) {
    :host {
        #content {
            #itemContainer {
                width: 100% !important;
                left: 0 !important;
            }
        }
    }
}