<div id="headerBack">
    <div id="header">
        {{title}}
    </div>
</div>
<div id="content">
    <div id="imgContainer">
        <img src={{imgUrl}} />
    </div>
    <ul id="itemContainer">
        <li><span>Song</span><span>Künstler</span></li>
        <li><span>Song</span><span>Künstler</span></li>
        <li><span>Song</span><span>Künstler</span></li>
        <li><span>Song</span><span>Künstler</span></li>
        <li><span>Song</span><span>Künstler</span></li>
        <li><span>Song</span><span>Künstler</span></li>
        <li><span>Song</span><span>Künstler</span></li>
        <li><span>Song</span><span>Künstler</span></li>
        <li><span>Song</span><span>Künstler</span></li>

        <!--{song: "Holiday", interpret: "Green Day"},
        {song: "What I've Done", interpret: "Linkin Park"},
        {song: "Basket Case", interpret: "Green Day"},
        {song: "Schrei nach Liebe", interpret: "Die Ärzte"},
        {song: "Narcotic", interpret: "Liquido"},
        {song: "Sister Moon", interpret: "Gotthard"},
        {song: "Fashionably Late", interpret: "Falling in Reverse"},
        {song: "Boulevard of Broken Dreams", interpret: "Green Day"},
        {song: "Song 2", interpret: "Blur"},
        {song: "The End", interpret: "Zero 9:36"},
        {song: "Sombody Told Me", interpret: "Motionless in White"},
        {song: "Smells like Teen Spirit", interpret: "Nirvana"},
        {song: "Wannsee", interpret: "Die Toten Hosen"},
        {song: "Ist das noch Punkrock", interpret: "Die Ärzte"},
        {song: "It's My Life", interpret: "Bon Jovi"},!-->
    </ul>
</div>