<div class="fade-scroll-items-container" #fadeScrollItemContainer [style.--sectionTitleHeight]="this.SECTION_TITLE_HEIGHT + 'px'">
    <div id="image-container">
        <img id="logo" src="/images/webp/logo0014.webp" />
    </div>

    <div id="content">
        <app-section-header id="header" title="Über uns"></app-section-header>
        <div id="text-wrapper">
            <div id="text" #text>
                <p class="fade-scroll-item" #scrollItem> </p>
                <p class="fade-scroll-item-spacer"></p>
                @for(text of this.textList; track text) {
                    <p class="fade-scroll-item" #scrollItem>
                        {{text}}
                    </p>
                }
                <p class="fade-scroll-item-spacer"></p>
            </div>
        </div>
    </div>
    <div class="sifAnchor" [id]='"sifAnchor-" + this.name'></div>
</div>