<h1 class="section-header">Wir Sind <span class="section-header-highlight">Gennex</span></h1>
<span class="section-text">
    Fünf Freunde, eine Leidenschaft:
    Handgemachte Musik, die ins Blut geht.
    Wir bringen die Energie von Rock-Klassikern und den Vibe aktueller Chart-Hits direkt auf
    eure Bühne - 100% ehrlich, 100% live und immer mit vollem Einsatz.
</span>
<button [class.invertIcon]="this.memberListShown" class="open-submenu" (click)="toggleMemberList()">{{this.memberListShown ? "Weniger Anzeigen" : "Erfahre mehr dazu"}}
    <app-arrow-svg></app-arrow-svg>
</button>

@if(this.memberListShown) {
    <div id="expandable-members" animate.enter="fadeInPN" animate.leave="fadeOutPN">
        <div id="member-cont">
            @for(pair of this.backend.members(); track pair.thumbnailPath) {
                <div class="adelay member" animate.enter="fadeInInner" animate.leave="fadeOutInner">
                    <img [src]="pair.thumbnailPath" />
                    <h3>{{pair.member.name}}</h3>
                    <h4>{{pair.member.role}}</h4>
                </div>
            }
        </div>
    </div>
}