/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    height: 100%;
}

html {
    height: 100%;
}

@font-face {
    font-family: comfortaa;
    src: url('/fonts/Comfortaa.ttf');
}