#content {
    position: relative;
}

:host {
    z-index: 100;
}

#logo {
	padding: 3%;
	min-width: 35%;
	max-width: 35%;
	box-sizing: border-box;
	height: auto;
	position: sticky;
	top: 50%;
	margin-left: 5%;
	transform: translateY(-50%);
	float: left;
}

#text {
    min-width: 40%;
    max-width: 40%;
    padding-top: 20px;
    font-size: min(16pt, 5vw);
    padding-left: 50px;
    padding-right: 50px;
    border-left: 1px solid transparent;
    border-image: linear-gradient(to bottom, transparent 0%, white 20%, white 97%, transparent 100%) 1;
    background: linear-gradient(to bottom, transparent 0%, #0008 20%, #0008 97%, transparent 100%);
    border-image-slice: 1;
    font-weight: bold;
    margin-left: auto;
    margin-right: 10%;
    box-sizing: border-box;
    transition: transform .2s ease-out;
}

.fade-scroll-items-container {
	position: relative;
}

p.fade-scroll-item {
    color: white;
}

.fade-scroll-item {
    top: 0px;
    position: sticky;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}

.fade-scroll-item-spacer {
    height: 400px;
    margin: 0;
}

#header {
    position: sticky;
    top: 100px;
    z-index: 1000;
}

#image-container {
	height: calc(100% - 50svh);
	top: 50svh;
	position: absolute;
	left: 0;
	width: 100%;
}

.sifAnchor {
	position: absolute;
	bottom: calc(100svh + 100px);
}

@media screen and (max-width: 700px) {
	#header {
		top: 0px !important;
	}

	#text {
		min-width: 100%;
		max-width: 100%;
		border: none;
		padding-top: var(--sectionTitleHeight);
	}

	#text-wrapper {
    	height: calc(100% - var(--sectionTitleHeight));
    	max-height: calc(100% - var(--sectionTitleHeight));
	}
    
	#logo {
		position: fixed;
		top: calc(100% - 50px);
		left: 50%;
		margin: 0 !important;
		padding: 10px !important;
		height: 100px !important;
		width: auto !important;
		max-width: unset !important;
		min-width: unset !important;
		transform: translate(-50%, -100%);
		float: none;
	}
}